<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          Post Details
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-users"></i> Post Management
            </li>
            <li >
              <i class="fa fa-list"></i> <a href="/allPosts">All Posts</a> or <a href="/newPosts">New Posts</a>
            </li>
            <li class="active">
              <a href="#"><i class="fa fa-list"></i> Post Details</a>
            </li>
        </ol>
        <div class="col-lg-12 ">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            {{#each pics}}
                <img src="/images/{{this.picid}}" style="width:300px; height:300px"alt="">
            {{/each}}
            <br>
            <br>
          </div>
          <div class="col-xs-12 post" >
              <p><b>Product ID:</b>{{post.productid}}</p>
              <p><b>Product's name:</b> {{post.prname}}</p>
              <p><b>Description:</b> {{post.description}}</p>
              <p><b>Price:</b> {{post.price}}</p>
              <p><b>Quantity:</b> {{post.quantity}}</p>
              <p><b>Salseman:</b> {{post.uname}}</p>
              <p><b>Product Type:</b> {{post.typename}}</p>
              <p><b>Time:</b> {{post.time}}</p>
              <p><b>Brand:</b> {{post.brandname}}</p>
              <p><b>Employee:</b> {{post.ename}}</p>

              <center>
                <button id="btnOK" onclick="checkPost({{post.productid}}, true)" style="visibility: {{visible}}" type="button" name="button">OK</button>
                &nbsp &nbsp &nbsp
                <button id="btnCancel" onclick="checkPost({{post.productid}}, false)" style="visibility: {{visible}}" type="button" name="button">Cancel</button>
              </center>
              <br>
          </div>
        </div>
      </div>
</div>

<script src="/js/postDetails.js"></script>
