
	 <div class="table-responsive">
    	    <table class="table-heading simpleCart_shelfItem">
		  <tr>
			<th class="table-grid">Item</th>
					
			<th>Prices</th>
			<th >Quantity</th>
			<th>Discount</th>
			<th>Subtotal</th>
		  </tr>
		  {{#each products}}
			  <tr class="cart-header">

				<td class="ring-in"><a href="/single/{{this.productid}}" class="at-in"><img src="../images/{{this.picid}}" class="img-responsive" alt=""></a>
				<div class="sed">
					<h5><a href="/single/{{this.productid}}">{{this.name}}</a></h5>
					<p>seller: {{this.salesman}}</p>
					<span class="hidden">{{this.productid}}</span>
				</div>
				<div class="clearfix"> </div>
				<div class="close1"> </div></td>
				<td class="price">{{this.price}}</td>
				<td class="quan">{{this.quantity}}</td>
				<td><span class="dis">{{this.discount}}</span><span>(%)</span></td>
				<td class="item_price" text="myFun()"></td>
			  </tr>
		  {{/each}}

		  
	</table>
	
	<div class="produced">
		<p class="total-price"></p>
		<button id="pay" class="hvr-skew-backward">Produced To Buy</button>
	 </div>
	</div> 
<script src="../js/cart.js"></script>