    <div class="col-md-4 col-12 compose">    	 
    	 
    	 	<div class="mail-profile">
    	 		<div class="mail-pic">
    	 			<a href="#"><img class="profilepic" src="../images/{{user.profilepic}}" alt=""></a>
    	 		</div>
    	 		<div class="mailer-name">
    	 				<h5><a href="#">{{user.name}}</a></h5>
    	 			     <h6><a href="mailto:{{user.email}}">{{user.email}}</a></h6>
    	 		</div>
    	 	    <div class="clearfix"> </div>
    	 	</div>
    	 	<div class="compose-block">
    	 		<a href="/createpost">New post</a>
    	 	</div>
    	 	<div class="compose-bottom">
    	 		<nav class="nav-sidebar usernav">
					<ul class="nav tabs">
			          <li class="{{active_profile}}"><a href="/user/profile"><i class="fa fa-inbox"></i>Profile<div class="clearfix"></div></a></li>
			          <li class="{{active_post}}"><a href="/user/posts"><i class="fa fa-envelope-o"></i>Posts</a></li>
			          <li class="{{active_cart}}"><a href="/cart"><i class=" fa fa-shopping-cart"></i>Cart<div class="clearfix"></div></a></li>
                      <li class="{{active_discount}}"><a href="/addDiscount"><i class="fa fa-sort-amount-desc"></i>Add Promotion<div class="clearfix"></div></a></li>
					</ul>
					</ul>
				</nav>
    	 	</div>
        </div>

