		<div class="content">
			<div class="container">
			
				<!--products-->
			<div class="content-mid">
				<h3>Discounts</h3>
				<label class="line"></label>
						{{#each products}}
							<div class="col-md-3 item-grid simpleCart_shelfItem">
							<div class=" mid-pop">
							<div class="pro-img">
								<img src="../images/{{this.picid}}" class="img-responsive" alt="">
								<div class="zoom-icon ">
								<a class="picture" href="../images//{{this.picid}}" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
								<a href="/single/{{this.productid}}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
								</div>
								<div class="mid-1">
								<div class="women">
								<div class="women-top">
									<span>Men</span>
									<h6><a href="/single/{{this.productid}}">{{this.name}}</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
									</div>
									<div class="mid-2">
										<p ><em class="item_price">{{this.price}} ({{this.discount}}%)</em></p>
										</div>
										
										<div class="clearfix"></div>
									</div>
									
								</div>
							</div>
							</div>
						{{/each}}
						<div class="clearfix"></div>
			</div>
			<!--//products-->
			<!--brand-->
			<!--//brand-->
			</div>
			
		</div>