<div class="container">
	{{> user}}
	<div class="col-md-8 col-sm-12 col-xs-12 mailbox-content  tab-content tab-content-in compose">
    <div class="tab-pane active text-style table-responsive " id="tab1">
	 	<div class="mailbox-border">
	               <div class="mail-toolbar clearfix">
				    <div class="float-left">
				        <div class="btn btn_1 btn-default mrg5R">
				           <i class="fa fa-refresh"> </i>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="float-right">
	                       <div class="clearfix"> </div>
	                 </div>
	               </div>
		</div>

	    <table class=" table tab-border hover" id="inboxTable" cellspacing="0" width="100%">
	    	<thead>
	    		<tr>
	                <th>Item</th>
	                <th>Price</th>
	                <th>Quantity</th>
	                <th>Time</th>
            	</tr>
	    	</thead>
	        <tbody>
	        {{#each products}}
	        	<tr class="cart-header">

				<td class="ring-in"><a href="/single/{{this.productid}}" class="at-in"><img src="../images/{{this.picid}}" class="img-responsive" alt=""></a>
				<div class="sed">
					<h5><a href="/single/{{this.productid}}">{{this.name}}</a></h5>
					<span class="hidden">{{this.productid}}</span>
				</div>
				<div class="clearfix"> </div>
				<div class="close1"> </div></td>
				<td class="price">{{this.price}}</td>
				<td class="quan">{{this.quantity}}</td>
				<td class="time">{{this.time}}</td>
			  </tr>
	        {{/each}}
	        <script>
				$(document).ready(function() {
					const comNum = $('.time').length;
					for (let i = 0; i<comNum; i++)
						{
							let curTime = ($('.time').eq(i)).text();
							let distance = moment(curTime).fromNow();
							($('.time').eq(i)).text(distance);
						}
					})
								 
			</script>
	        </tbody>
	    </table>




	</div>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('#inboxTable').DataTable({
    	"lengthMenu": [[10, 12, 15, -1], [10, 12, 15, "All"]],
    	"paging": true,
    	"pagingType": "full_numbers"
    });

    
})
</script>
<script src="../js/post.js"></script>
