<div class="container">
	{{> user}}
	<div class ="cart-user">
		<div class="container">

		<div class="info">
			<h2 class="usertitle">User information</h2>
			<form  id="updateForm" enctype="multipart/form-data" method="post">
			<div class="col-md-8 login-do">
				<img class="profilepic" height="100" width="100" id="profile" src="../images/{{user.profilepic}}" alt="profile-image"/>
				<input class="profilebtn" id="image" type="file" name="userPhoto" placeholder="Photo">


			</div>
			<div class="col-md-8 login-do">
				<p>Name</p>
				<div class="login-mail">
					<input type="text" value="{{user.name}}" required="" disabled="true" id="name">
					<i  class="glyphicon glyphicon-user"></i>
				</div>
				<p>Phone number</p>
				<div class="login-mail">

					<input type="text" value="{{user.phone}}" required="" disabled="true" id="phone">
					<i  class="glyphicon glyphicon-phone"></i>
				</div>
				<p>Email</p>
				<div class="login-mail">
					
					<input type="text" value="{{user.email}}" required="" disabled="true" id="email">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<p>Password</p>
				<div class="login-mail">
					
					<input type="password" value="{{user.pass}}" required="" disabled="true" id="pass">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				<label class="hvr-skew-backward right">
					<input type="button" value="Change"  id="change">
				</label>
				<label class="hvr-skew-backward right">
					<input type="submit" value="Submit"  id="smit">
				</label>
			</div>

			
			<div class="clearfix"> </div>
			</form>
		</div>

	</div>
	</div>
</div>
<script src="../js/profile.js"></script>



